<form role="form" [formGroup]="promeniDeoForm">
    <div class="form-group">
        <label>Naziv:</label>
        <input type="text" class="form-control" formControlName='name'>
    </div>
    <div class="form-group">
        <label>Cena:</label>
        <input type="text" class="form-control" formControlName='price'>
    </div>
    <div class="form-group">
        <label>Proizvodjac:</label>
        <input type="text" class="form-control" formControlName='manufacturer'>
    </div>
    <div class="form-group">
        <label>Brend:</label>
        <input type="text" class="form-control"  formControlName='type'>
    </div>
    <button (click)="promeni()" class="btn btn-danger" style="margin-bottom: 10px;">Edit</button>
    <button class="btn btn-default" (click)="vrati()">Nazad</button>
</form>