<div id="content" class="container">
  <div class="row">
    <h2>Potrazite deo koji Vam treba:</h2>
  <form class="navbar-form" role="search">
    <div class="form-group">
      <p>Pretraziti po imenu: </p>
      <input type="text" class="form-control" placeholder="Search" name="name" [(ngModel)]="name">
    </div>
  </form>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <p>Pretraziti po proizvodjacu: </p>
        <input type="text" class="form-control" placeholder="Search" name="manufacturer" [(ngModel)]="manufacturer">
      </div>
    </form>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="text-align: center">Ime</th>
          <th style="text-align: center">Proizvodjac</th>
          <th style="text-align: center">Cena</th>
          <th style="text-align: center">Delete</th>
          <th style="text-align: center">Change</th>
          <th style="text-align: center">View</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let deo of data | SearchImenaDelovi:name | SearchProizvodjacDelovi:manufacturer">
          <tr>
            <td>{{deo.name}}</td>
            <td>{{deo.manufacturer}}</td>
            <td>{{deo.price}}</td>
            <td><button class="btn btn-danger" (click)="ukloniDeo($event, deo.id)">Delete</button></td>
            <td><button class="btn btn-danger" (click)="promeniDeo(deo.id)">Change</button></td>
            <td><button class="btn btn-default" (click)="pogledajDeo(deo.id)">View</button></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
  </div>
  </div>
</div>
<div class="footer">
  <ul>
    <li class="f1">© Copyright 2017. All rights reserved.</li>
  </ul>
</div>

