<div id="content" class="container" style="width: 430px">
    <div class="row">
        <form role="form" [formGroup]="loginForma" align="center" style="width: 430px" class="formal">
            <h2>Ulogujte se</h2>
            <input type="text" formControlName='username' placeholder="Username"/>
            <br>
            <br>
            <input type="password" formControlName='password' placeholder="Password"/>
            <br>
            <br>
            <button (click)="logovanje()">Login</button>
            <a routerLink="/registracija">Nemate nalog?</a>
        </form>
    </div>
</div>