<div id="content" class="row">
  <br><p align="center"> Preduzeće “MISS – Blagojević” je osnovano 2015.godine. Od osnivanja oblast angažovanja preduzeća je projektovanje i<br> inženjering u oblasti elektronike i diagnostike motornih vozila. Isporuka opreme i softvera servisima za održavanje motornih<br> vozila, kao i firmama sa sopstvenim voznim parkom, koji moze obuhvatati veci broj vrsta motornih vozila,<br> od automobila
  do teske mehanizacije.<br>
  <br>
  Na čelu sa vlasnikom Milicom Blagojević, firma stiče ugled i poverenje sve većeg broja kupaca i poslovnih partnera,<br> a uspešnost potvrđuju i mnogobrojne nagrade i priznanja.<br><br>
  Danas firma “MISS – Blagojević” posluje sa preko 250 stalnih komintenata na teritoriji cele Srbije i Crne Gore,<br> Republike Srpske, a i izvan regiona.
  <br>
  <br>
  Posedujemo sertifikat Excellent SME Serbia.
</p>
</div>
<div class="footer">
  <ul>
    <li class="f1">© Copyright 2017. All rights reserved.</li>
  </ul>
</div>
