<div id="content" class="container">
  <div class="row">
    <br>
    <p align="center">Jedna od vizija budućnosti, flota električnih automobila bez vozača klizi našim ulicama,<br> preuzimajući svoj ljudski teret i razvozeći ga na posao, plažu ili u večernje izlaske sa prijateljima.<br>
      <br>
      Ljudi sede udobno zavaljeni u svojim sedištima razgledajući okolinu, telefonirajući, radeći na svojim mobilnim uređajima, bez opterećenja koliko su popili,<br> da li su umorni ili ih je neko jako iznervirao,i još važnije ne razmišljajući da li su pijani, umorni ili iznervirani vozaci drugih automobila u saobraćaju.<br>
      <br>
      Iskreno verujemo da, sa sadašnjim tehničkim razvojem, ova ce vizija postati stvarnost u bliskoj budućnosti.<br>
      <br>
      <b>Da li imate predstavu koliko je Vaš automobil svojim elektronskim rešenjima<br> blizak svom nasledniku iz
        gornje vizije?</b><br>
      <br>
      Sa svojim senzorima I mikroprocesorima, možete biti uvereni, blizu je! Vaš automobil je velikim delom
      vođen svojim kompjuterom.<br> Kompjuter se stara o Vašoj sigurnosti I udobnosti u vožnji u velikom broju automobila već danas.<br>
      <br>
      Mi smo tu da pomognemo svojim inovacijama i softverima onima koji se staraju o automobilima,<br> mi pravimo informatička rešenja za automehaničarske radnje.</p><br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-8 video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YEn9bQkBXkE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <p><b>Pratite nas na:</b></p>
      <ul>
        <li><a href="https://sr-rs.facebook.com/"><img src="app/pic/Facebook.png" onmouseover="this.src='app/pic/Facebook1.png'" onmouseout="this.src='app/pic/Facebook.png'" width="200px" height="59px"/></a></li>
        <li><a href="https://www.instagram.com/"><img src="app/pic/Instagram.png" onmouseover="this.src='app/pic/Instagram1.png'" onmouseout="this.src='app/pic/Instagram.png'" width="200px" height="75px"/></a></li>
        <li><a href="https://www.twitter.com/"><img src="app/pic/Twitter.png" onmouseover="this.src='app/pic/Twitter1.png'" onmouseout="this.src='app/pic/Twitter.png'" width="200px" height="65px"/></a></li>
      </ul>
    </div>
  </div>
</div>
<footer class="footer">
  <ul>
    <li class="f1">© Copyright 2017. All rights reserved.</li>
  </ul>
</footer>
